PATH_add bin

layout_install_python() {
    local pyversion=$(cat .python-version | awk -F" +|/" '{print $1}')
    if [ -z "$(pyenv versions | grep $pyversion)" ]; then
        echo "Installing python version $pyversion"
        pyenv install $pyversion
    else
        echo "Python version $pyversion already installed"
    fi
}

layout_virtualenv() {
    local pyversion=$(cat .python-version | awk -F" +|/" '{print $1}')
    local pvenv=$(cat .python-version | awk -F" +|/" '{print $3}')

    if [ -n "$(which pyenv virtualenv)" ]; then
        if [ -z "$(pyenv virtualenvs | grep $pyversion/envs/$pvenv)" ]; then
            echo "Creating virtualenv $pvenv"
            pyenv virtualenv --force --quiet $pyversion $pvenv
        else
            echo "Virtualenv $pvenv already exists"
        fi
    fi
}

layout_activate() {
    local venv=$(cat .python-version)
    echo "Activating virtualenv $venv"
    source $(pyenv root)/versions/$venv/bin/activate
}

layout_load_env() {
    if [ -f .python-version ]; then
        echo "Loading python version $(cat .python-version)"
        PATH_add bin:which
        layout install_python
        layout virtualenv
        layout activate
    fi
}